# Git artifacts
.gitignore
*.orig
!/.gitignore

# Maven artifacts
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.flattened-pom.xml

# Eclipse artifacts
.settings/
.project
.classpath
.checkstyle
.factorypath
.sts4-cache/

# Log artifacts
*.log
*.log.*

# Idea artifacts
.idea/
**/*.iml
.gitkeep

# Other
.*_backup
.attach_pid*
